// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.review_form{
	input{
		width: 400px;
		height: 40px;
	}
	textarea{
		width: 400px;
		height: 200px;
	}
	label{
		text-align: left;
	}
	#user_remember_me{
		width:20px;
		padding-top:40px;
		text-align:left;
	}

}
