@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
    background: #ffffff url("http://www.thesfnews.com/wp-content/uploads/2015/07/sather_gate_night.png") no-repeat center fixed;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 0;
    padding: 60px;
    height: 100%;
    width: 100%;
    background-color:transparent;
}
.intro {
    height: 500px;
    width: 100%;
    margin: 0;
    /*background-image:url("http://www.thesfnews.com/wp-content/uploads/2015/07/sather_gate_night.png");*/
    display: table;
    top: 0;
    /*background-size: cover;*/
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-family: 'Raleway',sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 500%;
	text-align: center;
}
